<div class="user-top-module mb-5">
    <div class="user-page-top">
        <div class="user-page-top-inner h-100">

        </div>
    </div>
    <% if( user?.profileImage){ %>
    <img class="img-fluid user-image" src="/public/avatar/avatar_<%=user?.profileImage%>.png"
        alt="<%=user?.fullname%>" />
    <% } %>
</div>

<% if(isLoggedIn && (loggedInUser.id === user.id)){%>
<div class="d-flex align-items-center justify-content-end">
    <a href="/profile" class="btn btn-primary">Edit profile</a>
</div>
<% }%>
<div class="user-middle-module mb-4">
    <% if( user?.fullname){ %>
    <div class="user-full-name py-1 mb-2">
        <%=user?.fullname%>
    </div>
    <% } %>
    <% if( user?.username){ %>
    <div class="user-username py-1 mb-2">
        <%=user?.username%>
    </div>
    <% } %>
    <% if( user?.createdAtText){ %>
    <div class="user-joined-date py-1 mb-2">
        Joined at <%=user?.createdAtText%>
    </div>
    <% } %>
    <% if( user?.location){ %>
    <div class="user-location py-1 mb-2">
        <%=user?.location%>
    </div>
    <% } %>
    <% if( user?.bio){ %>
    <div class="user-bio py-1 mb-2">
        <%=user?.bio%>
    </div>
    <% } %>
</div>

<ul class="nav nav-tabs" id="userTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button"
            role="tab" aria-controls="home" aria-selected="true">Posts</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="followings-tab" data-bs-toggle="tab" data-bs-target="#followings" type="button"
            role="tab" aria-controls="followings" aria-selected="false">Followings</button>
    </li>
</ul>
<div class="tab-content" id="userContent">
    <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
        <% if( posts.length){ %>
        <div class="user-posts mt-3">
            <% for(var i=0; i < posts.length; i++) { %>
            <%- include('../partials/module/postCard', {post: posts[i]}) %>
            <% } %>
        </div>
        <% } %>
    </div>
    <div class="tab-pane fade" id="followings" role="tabpanel" aria-labelledby="followings-tab">
        <% if( users.length){ %>
        <div class="user-followings mt-3">
            <% for(var i=0; i < users.length; i++) { %>
            <%- include('../partials/module/userCard', { user: users[i] }) %>
            <% } %>
        </div>
        <% } %>
    </div>
</div>