<div class="card post mb-3">
    <div class="card-header post-header">
        <img class="img-fluid card-img post-creator-img" src="/public/avatar/avatar_<%=post.creatorImage%>.png"
            alt="<%- post.creatorUsername%>" />
        <a class="mx-3" href="/user/<%- post.creatorUsername%>">@<%- post.creatorUsername%></a>
        <small class="post-created-date ms-auto"><%- post.createdAtText %></small>
        <% if(isLoggedIn && (loggedInUser.id !== post.createdBy)){%>
        <% if(loggedInUser.followedUsers.includes(post.createdBy)){ %>
        <%- include('unFollowBtn', {followId: post.createdBy}) %>
        <%} else {%>
        <%- include('followBtn', {followId: post.createdBy}) %>
        <% } %>
        <% } %>
    </div>
    <div class="card-body">
        <% if(post.image) { %>
        <div class="post-image mb-3">
            <img src="/uploads/<%=post.image%>" class="img-fluid" />
        </div>
        <% } %>
        <p class="card-text"><%=post.content%></p>
    </div>
    <% if(isLoggedIn && (loggedInUser.id === post.createdBy)){%>
    <div class="card-footer post-footer">
        <div class="btn btn-outline-danger mx-2 delete-post" onclick="deletePost('<%=post.id%>')" title="Delete post"><i
                class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <a class="btn btn-outline-info mx-2" title="Edit post" href="/post/<%=post.id%>"><i
                class="fa fa-pencil-square-o" aria-hidden="true"></i>

        </a>
    </div>
    <% } %>
</div>