<div class="card post mb-3">
    <div class="card-header post-header">
        <img class="img-fluid card-img post-creator-img" src="/public/avatar/avatar_<%=post.creatorImage%>.png"
            alt="John Doe" />
        <a class="mx-3" href="/user/<%- post.creatorUsername%>">@<%- post.creatorUsername%></a>
        <small class="post-created-date ms-auto"><%- post.createdAtText %></small>
        <% if(isLoggedIn && (loggedInUser.id !== post.createdBy)){%>
        <% if(loggedInUser.followedUsers.includes(post.createdBy)){ %>
        <%- include('unFollowBtn', {followId: post.createdBy}) %>
        <%} else {%>
        <%- include('followBtn', {followId: post.createdBy}) %>
        <% } %>
        <% } %>
    </div>
    <div class="card-body">
        <p class="card-text"><%=post.content%></p>
    </div>
    <% if(isLoggedIn && (loggedInUser.id === post.createdBy)){%>
    <div class="card-footer post-footer">
        <div class="btn btn-outline-danger mx-2 delete-post" onclick="deletePost('<%=post.id%>')" title="Delete post"><i
                class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <a class="btn btn-outline-info mx-2" title="Edit post" href="/post/<%=post.id%>"><i
                class="fa fa-pencil-square-o" aria-hidden="true"></i>

        </a>
    </div>
    <% } %>
</div>
<% if(isLoggedIn && (loggedInUser.id === post.createdBy)){%>
<script type="text/javascript">
    function deletePost(id) {
        var confirmModal = new bootstrap.Modal(document.getElementById("deleteConfirmModal"), {});
        var deletePostIdInput = document.getElementById("postIdToDelete");
        deletePostIdInput.value = id;
        confirmModal.show();
    }
</script>
<% } %>