<div class="card user mb-3">
    <div class="card-header post-header">
        <img class="img-fluid card-img user-card-image" src="/public/avatar/avatar_<%=user.profileImage%>.png"
            alt="<%- user.username%>" />
        <div class="d-flex flex-column mx-3">
            <a class="" href="/user/<%- user.username%>">@<%- user.username%></a>
            <% if(user.bio){%>
            <small class="user-bio ms-auto" style="max-width: 150px;"><%- user.bio %></small>
            <%}%>
            <small class="user-bio text-truncate" style="max-width: 150px;">One line asdasd asd asd asd asd asd asd as das da s as</small>
        </div>
        
        <a href="/user/<%- user.username%>" class="btn btn-secondary btn-sm ms-auto">View</a>
        </div>
    </div>