<%- include('./partials/layout/header') %>
<div class="container">
    <div class="row h-100">
        <div class="col-4 d-flex flex-column p-3">
            <% if (isLoggedIn) { %>
            <%- include('./partials/module/logo') %>
            <%- include('./partials/module/sidebar') %>
            <% } else { %>
            <%- include('./partials/module/logo') %>
            <%- include('./partials/module/login') %>
            <small class="my-4 text-center">If you have not account</small>
            <%- include('./partials/module/register') %>
            <% } %>
        </div>
        <div class="col-8 p-3">
            <%- include(`./screens/${page}`) %>
        </div>

    </div>
</div>
<% if(isLoggedIn){ %>
<%- include('./partials/modal/confirm') %>
<% if(loggedInUser){ %>
<%- include('./partials/modal/createPost') %>
<% } %>
<% } %>
<%- include('./partials/layout/footer') %>